.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.loader {
	animation: spin 1s linear infinite;
}

.arc {
	stroke: var(--colors-icon-default);
	transform-origin: center;
	fill: none;
	stroke-linecap: round;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
